---
import NextJSIcon from "./icons/NextJS.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import ReactJSIcon from "./icons/ReactJS.astro";
import AstroIcon from "./icons/AstroLogo.astro";
import DartIcon from "./icons/Dart.astro";
import FirebaseIcon from "./icons/Firebase.astro";
import FlutterIcon from "./icons/Flutter.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import GoogleIcon from "./icons/Google.astro";
import MaterialUIIcon from "./icons/MaterialUI.astro";
import MySQLIcon from "./icons/MySQL.astro";
import NetlifyIcon from "./icons/Netlify.astro";
import ViteJSIcon from "./icons/ViteJS.astro";
import LinkIcon from "./icons/Link.astro";
import TypeScriptIcon from "./icons/Typescript.astro";

import LinkButton from "./LinkButton.astro";

const TAGS = {
  ASTROICON: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: AstroIcon,
  },
  DART: {
    name: "Dart",
    class: "bg-[#003159] text-white",
    icon: DartIcon,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#003159] text-white",
    icon: FirebaseIcon,
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-[#003159] text-white",
    icon: FlutterIcon,
  },
  GOOGLE: {
    name: "Google Maps API",
    class: "bg-[#003159] text-white",
    icon: GoogleIcon,
  },
  GITHUB: {
    name: "Github",
    class: "bg-[#003159] text-white",
    icon: GithubIcon,
  },
  MATERIALUI: {
    name: "Material UI",
    class: "bg-[#003159] text-white",
    icon: MaterialUIIcon,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#003159] text-white",
    icon: MySQLIcon,
  },
  NETLIFY: {
    name: "Netlify",
    class: "bg-[#003159] text-white",
    icon: NetlifyIcon,
  },
  NEXTJS: {
    name: "Next.js",
    class: "bg-[#003159] text-white",
    icon: NextJSIcon,
  },
  REACT: {
    name: "React JS",
    class: "bg-[#003159] text-white",
    icon: ReactJSIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScriptIcon,
  },
  VITEJS: {
    name: "ViteJS",
    class: "bg-[#003159] text-white",
    icon: ViteJSIcon,
  },
};
const PROJECTS = [
  {
    title: "Travel Advisor",
    description:
      "Construí y desplegué una aplicación avanzada compañero de viaje utilizando Google Maps. Con Geolocalización, API de Google Maps, Búsqueda de lugares, Obtención de restaurantes, hoteles y atracciones basadas en la ubicación de las API Rapid especializadas, filtrado de datos y mucho más.",
    link: "https://travel-advisor-arromero.netlify.app/",
    github: "https://github.com/arromero4/travel-advisor",
    image: "/projects/project-portfolio-1.jpg",
    tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.NETLIFY, TAGS.GOOGLE],
  },
  {
    title: "Shopping App",
    description: "Aplicación construida usando Flutter, para manejar el estado con Provider, permitiendo añadir la compra al carrito y borrarla, esta aplicación se adapta a la versión web con la misma base de código.",
    github: "https://github.com/arromero4/shopping_app",
    image: "/projects/project-portfolio-2.jpg",
    tags: [TAGS.FLUTTER, TAGS.DART],
  },
  {
    title: "Valentine Day App",
    description:
      "App para construída para el día del amor y la amistad usando React con TypeScript, desplegada en Netlify.",
    link: "https://love-u-mfc.netlify.app/",
    github: "https://github.com/arromero4/valentines-day",
    image: "/projects/project-portfolio-5.jpg",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.TYPESCRIPT, TAGS.NETLIFY],
  },
  {
    title: "Weather App",
    description: "Aplicación construida usando Flutter, para consumir la API del clima de una ciudad especifica.",
    github: "https://github.com/arromero4/weather_app_flutter",
    image: "/projects/project-portfolio-4.jpg",
    tags: [TAGS.FLUTTER, TAGS.DART],
  },
  {
    title: "Currency Converter App",
    description: "Aplicación construida usando Flutter, para realizar la conversión de Dolar a Peso Mexicano",
    github: "https://github.com/arromero4/currency_converter",
    image: "/projects/project-portfolio-3.jpg",
    tags: [TAGS.FLUTTER, TAGS.DART],
  },

];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GithubIcon class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <LinkIcon class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
